@page "/"

<PageTitle>StarBlazor</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <span class="input-group-text" id="studentName">Student</span>
                <input type="text" class="form-control" placeholder="Please enter name" aria-label="studentName" aria-describedby="studentName">
            </div>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <span class="input-group-text" id="course">Course</span>
                <input type="text" class="form-control" placeholder="Please enter course name" aria-label="course" aria-describedby="course">
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>
