@page "/"

<PageTitle>StarBlazor</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="studentName" placeholder="Forename Surname">
                        <label for="studentName">Student Name</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="course" placeholder="Course Name">
                        <label for="course">Course Name</label>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="result" aria-label="Result">
                            <option selected>Choose...</option>
                            <option value="pass">Pass</option>
                            <option value="fail">Fail</option>
                        </select>
                        <label for="result">Result</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="review" aria-label="Review">
                            <option selected>Choose...</option>
                            <option value="review1">Review 1</option>
                            <option value="review2">Review 2</option>
                        </select>
                        <label for="review">Review</label>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="date" placeholder="dd/mm/yyyy">
                        <label for="date">Date</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-1"></div>

        <div class="col-12 col-md-5">
            
            <!-- Decoration or info -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <!-- Unit 1 -->
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="unit1Span" placeholder="Please enter the Unit Code or Title">
                        <label for="unit1Span">Unit Code/Title</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="status1" aria-label="Status">
                            <option selected>Choose...</option>
                            <option value="success">Successfully Completed</option>
                            <option value="partial">Partially Completed</option>
                            <option value="incomplete">Incomplete</option>
                        </select>
                        <label for="status1">Status</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="resolved1" aria-label="Element Resolved">
                            <option selected>Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                        <label for="resolved1">Element Resolved</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="remedial1" aria-label="Remedial Steps">
                            <option selected>Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                        <label for="remedial1">Remedial Steps</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12">

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Remedial Actions" id="remedialActions1"></textarea>
                        <label for="remedialActions1">Remedial Actions</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-1"></div>

        <!-- Unit 2 -->
        <div class="col-12 col-md-5">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="unit2Span" placeholder="Please enter the Unit Code or Title">
                        <label for="unit2Span">Unit Code/Title</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="status2" aria-label="Status">
                            <option selected>Choose...</option>
                            <option value="success">Successfully Completed</option>
                            <option value="partial">Partially Completed</option>
                            <option value="incomplete">Incomplete</option>
                        </select>
                        <label for="status2">Status</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="resolved2" aria-label="Element Resolved">
                            <option selected>Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                        <label for="resolved2">Element Resolved</label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="remedial2" aria-label="Remedial Steps">
                            <option selected>Choose...</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                        <label for="remedial2">Remedial Steps</label>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12">

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Remedial Actions" id="remedialActions2"></textarea>
                        <label for="remedialActions2">Remedial Actions</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">

        <!-- Spider chart -->
        <div class="col-12 col-md-5">
            <canvas id="spider"></canvas>
        </div>

        <div class="col-12 col-md-1"></div>

        <!-- Badge selector -->
        <div class="col-12 col-md-5">
            
        </div>
    </div>
</div>
