body {

    background-color: #fff;
}

.section {

    background-color: #4a69bd;
    border-radius: 5px;
}

.section-title {

    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    padding: 15px 0 0 0;
    margin-bottom: 0;
    color: white;
    text-align: left;
}

.section-divider {

    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 15px 0;
}

.title-row {

    margin-bottom: 25px;
}

.badge-container {
    text-align: center;
}

.badge-row {
    display: inline-block;
}

.badge-image {
    width: 32%;
    max-width: 110px;
    filter: saturate(0);
    opacity: 0.3;
    margin: 0;
    border-radius: 0;
    transition: filter 2s, opacity 2s, border-radius 1s;
}

    .badge-image:hover {
        filter: saturate(1);
        opacity: 1;
        border-radius: 15px;
    }

.badge-selected {
    filter: saturate(1);
    opacity: 1;
}


/* .title {

    text-align: center;
    font-family: 'Oxygen', sans-serif;
} */

.title {

    font-family: 'Oxygen', sans-serif;
    font-size:26px; 
    font-weight:700;  
    letter-spacing:1px; 
    text-transform:uppercase; 
    width:160px; 
    text-align:center; 
    margin:auto; 
    white-space:nowrap; 
    padding-bottom:13px;
}

.title:before {

    background-color: #4a69bd;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}

.title:after {

    background-color: #4a69bd;
    content: '';
    display: block;
    position:absolute; 
    right:0; 
    bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}

.cell-parent {

    display: flex;
}

.cell {

    flex-wrap: wrap;
    display: flex;
    border: dashed 1px #333;
    flex: 1;
    align-content: center;
}

.cell-slim {

    flex-wrap: wrap;
    display: flex;
    border: dashed 1px #333;
    flex: 0.3;
    align-content: center;
}

.report-item {

    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 15px 0;
}

.report-value {

    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding: 15px 0;
}

.graph-output {

    padding-top: 30px;
}

.no-marg {

    margin: 0;
}

.no-pad {

    padding: 0;
}

.flex-12 {

    flex: 1.2;
}

.flex-01 {

    flex: 0.1;
}